.chessboard{
    border: 2px solid white;
    display: inline-block;
    padding: 3px 3px 0px 3px;
}
body{
    background: #CCC;
}
div{
}
span{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.black{
    background: black;
}
.white{
    background: white;
}